{% extends 'network/base2.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% load thumbnail %}

{% block body_block %}

    <div id="user-basic-info">

        <div id="user-name">
            {{ department.name }}
        </div>
        <div id="user-academic-rank">
            {{ department.faculty.university }}
        </div>
        <hr style="margin-top: 10px; margin-bottom: 10px;">
        <div id="user-university">
            <span style="color: #cccccc;"><i class="fa fa-map-marker"></i></span> Istanbul / Turkey
        </div>
        <a href="/network/home/"><span style="color: #4183c4;line-height: 43px;">cse.yeditepe.edu.tr</span></a>

        <hr style="margin-top: 10px; margin-bottom: 10px;">

        <div id="user-count">
            <div id="stu-count">
                <span style="font-size:27px;line-height: 24px;color:#4183c4;font-weight: bold;">{{ student_count }}</span>
                <br/>
                <span style="font-size:14px;line-height: 20px;color:#777777;">Students</span>
            </div>

            <div id="cor-count">
                <span style="font-size:27px;line-height: 24px;color:#4183c4;font-weight: bold;">{{ courses.count }}</span>
                <br/>
                <span style="font-size:14px;line-height: 20px;color:#777777;">Courses</span>
            </div>
        </div>


    </div>
    <div id="user-more-info">
        <div class="academic-cont">
            <div class="academic-top">
                <div class="more-info-header">
                    General Info
                </div>
                <div class="more-info-btn">

                </div>
                <div class="pub-obj">
                    <span style="font-size: 15px;line-height: 23px;color: #555555;"><p>
                      {{ department.info }}
                    </p></span>
                </div>
            </div>
        </div>
        <div class="teaching-cont">
            <div class="teaching-top">
                <div class="more-info-header">
                    Members
                </div>
                <div class="more-info-btn">

                </div>
            </div>
            {% for l in lecturers %}
                    <div class="teach-obj">
                        <div class="avatar">
                            <img src="{{ l.user.profile_picture|thumbnail_url:'avatar-small' }}" alt="" />
                        </div>
                        {{ l.name }}{{ l.surname }}
                        {{ l.academic_rank }}
                    </div>
                {% endfor %}
        </div>
        <div class="pub-cont">
            <div class="pub-top">
                <div class="more-info-header">
                    Courses
                </div>
                <div class="more-info-btn">

                </div>
            </div>
            {% for c in courses %}
                    <div class="teach-obj">
                    {{ c.code }}
                    {{ c.description }}
                    </div>
                {% endfor %}
        </div>

    </div>
{% endblock %}